#root {
    -fx-background-insets: -20, -10;
    -fx-background-image: url("../../assets/newspic-49514.jpg");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;

}

.card {
    -fx-border-color: transparent;
    -fx-border-width: 3;
}

.card:hover {
    -fx-border-color: #44d17c;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

.winnerStyle {
    -fx-font: bold;
    -fx-text-fill: springgreen;
    -fx-font-size: 50px;
}

.loserStyle {
    -fx-font-size: 40px;
    -fx-text-fill: white;
}